# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
pwd

'C:\\Users\\a_mcr\\Desktop\\Bootcamp\\Homeworks\\Python_API_Challenge\\Vacation_Py'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
cities_df = "../Weather_Py/clean_city_data.csv"
cities_df = pd.read_csv(cities_df)
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Rikitea,-23.12,-134.97,71.10,77,91,18.21,PF,1597203732
1,Albany,42.60,-73.97,75.00,86,67,1.01,US,1597203733
2,Mataura,-46.19,168.86,48.00,73,82,8.99,NZ,1597203733
3,Pudozh,61.81,36.53,51.21,78,74,4.52,RU,1597203733
4,Kirkenær,60.46,12.06,55.40,93,20,1.12,NO,1597203734

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key = g_key)

In [5]:
locations = cities_df[['Lat', 'Lng']]
weights = cities_df['Humidity']
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights,dissipating=False, max_intensity=np.max(weights),\
                                  point_radius=3))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
cities_df.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000,5.550000e+02
mean,22.043261,14.681640,68.847225,71.446847,48.189189,7.392270,1.597204e+09
std,32.774262,89.915216,13.802892,20.324053,39.822647,5.448682,5.906436e+01
min,-54.800000,-175.200000,33.800000,3.000000,0.000000,0.090000,1.597203e+09
25%,-3.345000,-64.655000,57.435000,63.000000,2.000000,3.360000,1.597204e+09
50%,26.180000,18.960000,71.010000,75.000000,40.000000,6.200000,1.597204e+09
75%,48.345000,86.810000,79.160000,87.000000,90.000000,9.885000,1.597204e+09
max,78.220000,178.420000,99.000000,100.000000,100.000000,35.390000,1.597204e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure