# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [26]:
# Dependencies and Setup
# %matplotlib
import ipywidgets as widgets
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

In [2]:
pwd

'C:\\Users\\a_mcr\\Desktop\\Bootcamp\\Homeworks\\Python_API_Challenge\\Vacation_Py'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
cities_df = "../Weather_Py/clean_city_data.csv"
cities_df = pd.read_csv(cities_df)
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Mataura,-46.19,168.86,46.00,88,4,5.01,NZ,1604162071
1,Devils Lake,48.11,-98.87,39.20,55,75,36.91,US,1604162071
2,Punta Arenas,-53.15,-70.92,53.60,66,0,3.36,CL,1604162071
3,Bethel,41.37,-73.41,42.01,55,1,6.93,US,1604162071
4,Borovsk,55.21,36.49,46.00,71,5,11.01,RU,1604162071

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key = g_key)

In [5]:
locations = cities_df[['Lat', 'Lng']]
weights = cities_df['Humidity']
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights,dissipating=False, max_intensity=np.max(weights),\
                                  point_radius=3))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Mataura,-46.19,168.86,46.00,88,4,5.01,NZ,1604162071
1,Devils Lake,48.11,-98.87,39.20,55,75,36.91,US,1604162071
2,Punta Arenas,-53.15,-70.92,53.60,66,0,3.36,CL,1604162071
3,Bethel,41.37,-73.41,42.01,55,1,6.93,US,1604162071
4,Borovsk,55.21,36.49,46.00,71,5,11.01,RU,1604162071
...,...,...,...,...,...,...,...,...,...
556,Ventspils,57.39,21.56,46.40,100,90,4.70,LV,1604162144
557,Yenagoa,4.92,6.26,79.41,86,82,4.83,NG,1604162144
558,Manta,-0.95,-80.73,77.00,73,75,8.05,EC,1604161984
559,Pesqueira,-8.36,-36.70,85.71,42,95,9.91,BR,1604162145
560,Cavalcante,-13.80,-47.46,71.92,86,100,2.93,BR,1604162145

In [7]:
good_weather = cities_df.loc[(cities_df["Max Temp"] >= 70) & (cities_df["Max Temp"] <= 80) & (cities_df["Wind Speed"] <= 10) & (cities_df["Cloudiness"] == 0)].dropna()
good_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
34,Riyadh,24.69,46.72,77.00,31,0,3.36,SA,1604162075
114,Mar del Plata,-38.00,-57.56,71.60,37,0,8.05,AR,1604162086
219,Constantine,36.37,6.61,71.60,35,0,8.05,DZ,1604161978
263,Birmitrapur,22.40,84.77,71.82,65,0,5.88,IN,1604162105
295,Tamiahua,21.27,-97.45,73.42,61,0,8.72,MX,1604162108
345,Noumea,-22.28,166.46,77.00,53,0,5.82,NC,1604162116
384,Gwanda,-20.93,29.00,76.42,30,0,9.57,ZW,1604162121
424,Carahue,-38.70,-73.17,71.60,64,0,3.36,CL,1604162126
514,Asifābād,19.37,79.28,70.97,55,0,4.25,IN,1604162138
518,Agadez,19.75,10.25,76.14,19,0,8.68,NE,1604162139
533,Villaviciosa,43.48,-5.44,75.20,53,0,9.17,ES,1604162141
534,Sur,22.57,59.53,72.52,56,0,2.93,OM,1604162141
549,Burla,21.50,83.87,73.36,63,0,1.32,IN,1604162142

In [8]:
good_weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 34 to 549
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        13 non-null     object
 1   Lat         13 non-null     float64
 2   Lng         13 non-null     float64
 3   Max Temp    13 non-null     float64
 4   Humidity    13 non-null     int64
 5   Cloudiness  13 non-null     int64
 6   Wind Speed  13 non-null     float64
 7   Country     13 non-null     object
 8   Date        13 non-null     int64
dtypes: float64(4), int64(3), object(2)
memory usage: 1.0+ KB

In [17]:
good_weather.dropna(how='any', inplace=True)
good_weather.reset_index(drop=True, inplace=True)
good_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Riyadh,24.69,46.72,77.00,31,0,3.36,SA,1604162075
1,Mar del Plata,-38.00,-57.56,71.60,37,0,8.05,AR,1604162086
2,Constantine,36.37,6.61,71.60,35,0,8.05,DZ,1604161978
3,Birmitrapur,22.40,84.77,71.82,65,0,5.88,IN,1604162105
4,Tamiahua,21.27,-97.45,73.42,61,0,8.72,MX,1604162108
5,Noumea,-22.28,166.46,77.00,53,0,5.82,NC,1604162116
6,Gwanda,-20.93,29.00,76.42,30,0,9.57,ZW,1604162121
7,Carahue,-38.70,-73.17,71.60,64,0,3.36,CL,1604162126
8,Asifābād,19.37,79.28,70.97,55,0,4.25,IN,1604162138
9,Agadez,19.75,10.25,76.14,19,0,8.68,NE,1604162139
10,Villaviciosa,43.48,-5.44,75.20,53,0,9.17,ES,1604162141
11,Sur,22.57,59.53,72.52,56,0,2.93,OM,1604162141
12,Burla,21.50,83.87,73.36,63,0,1.32,IN,1604162142

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [22]:
hotel_df = good_weather
hotel_df["Hotel Name"] = ""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Riyadh,24.69,46.72,77.00,31,0,3.36,SA,1604162075,
1,Mar del Plata,-38.00,-57.56,71.60,37,0,8.05,AR,1604162086,
2,Constantine,36.37,6.61,71.60,35,0,8.05,DZ,1604161978,
3,Birmitrapur,22.40,84.77,71.82,65,0,5.88,IN,1604162105,
4,Tamiahua,21.27,-97.45,73.42,61,0,8.72,MX,1604162108,
5,Noumea,-22.28,166.46,77.00,53,0,5.82,NC,1604162116,
6,Gwanda,-20.93,29.00,76.42,30,0,9.57,ZW,1604162121,
7,Carahue,-38.70,-73.17,71.60,64,0,3.36,CL,1604162126,
8,Asifābād,19.37,79.28,70.97,55,0,4.25,IN,1604162138,
9,Agadez,19.75,10.25,76.14,19,0,8.68,NE,1604162139,
10,Villaviciosa,43.48,-5.44,75.20,53,0,9.17,ES,1604162141,
11,Sur,22.57,59.53,72.52,56,0,2.93,OM,1604162141,
12,Burla,21.50,83.87,73.36,63,0,1.32,IN,1604162142,

In [23]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [30]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"

    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(url, params=params).json()    
    
    results = response['results']    
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']    
    except (KeyError, IndexError):
        print("encountered error... skipping.")
        
    print("-----------------------------------------------------------------")        
    time.sleep(1)

Retrieving Results for Index 0: Riyadh.
Closest hotel in Riyadh is Four Seasons Hotel Riyadh At Kingdom Center.
-----------------------------------------------------------------
Retrieving Results for Index 1: Mar del Plata.
Closest hotel in Mar del Plata is NH Gran Hotel Provincial.
-----------------------------------------------------------------
Retrieving Results for Index 2: Constantine.
Closest hotel in Constantine is Constantine Marriott Hotel.
-----------------------------------------------------------------
Retrieving Results for Index 3: Birmitrapur.
encountered error... skipping.
-----------------------------------------------------------------
Retrieving Results for Index 4: Tamiahua.
Closest hotel in Tamiahua is Hotel Posada Casanova.
-----------------------------------------------------------------
Retrieving Results for Index 5: Noumea.
Closest hotel in Noumea is Nouvata.
-----------------------------------------------------------------
Retrieving Results for Index 6: Gwanda.
Closest hotel in Gwanda is Skmo Lodge.
-----------------------------------------------------------------
Retrieving Results for Index 7: Carahue.
Closest hotel in Carahue is Hostal de carahue.
-----------------------------------------------------------------
Retrieving Results for Index 8: Asifābād.
Closest hotel in Asifābād is Athidi.
-----------------------------------------------------------------
Retrieving Results for Index 9: Agadez.
encountered error... skipping.
-----------------------------------------------------------------
Retrieving Results for Index 10: Villaviciosa.
Closest hotel in Villaviciosa is Hotel 3 Alpacas.
-----------------------------------------------------------------
Retrieving Results for Index 11: Sur.
Closest hotel in Sur is Sur Plaza Hotel.
-----------------------------------------------------------------
Retrieving Results for Index 12: Burla.
encountered error... skipping.
-----------------------------------------------------------------

In [31]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure